/*
 * Purpose: This sheet stylizes the index.html page.
 * Author: Justin Nichols
 * Class: CSC337
 */

* {
  margin: 0;   
}

html, body {
  height: 100%;  
}

label {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  background-color: silver;
  color: blue;  
}

.input_element {
  padding: 10px 0;  
}

#input_area, #output_area {
  position: fixed;
  padding: 10px 20px;
  width: 100%;
}

#output_area {
  top: 0;
  height: 70%;  
  background-color: lightgreen;
}

#input_area {
  height: 30%;
  bottom: 0;
  background-color: darkgreen;
}
